<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286392278982-pkhe2hpc3g1eomfh7r1fip7g00jv346d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286392278982-pkhe2hpc3g1eomfh7r1fip7g00jv346d</string>
	<key>API_KEY</key>
	<string>AIzaSyDsJ35m9rjdZENfPx1DQP0Eg0ZAitke9_0</string>
	<key>GCM_SENDER_ID</key>
	<string>286392278982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.quadroanuncios</string>
	<key>PROJECT_ID</key>
	<string>databasequadroanuncio</string>
	<key>STORAGE_BUCKET</key>
	<string>databasequadroanuncio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286392278982:ios:aed847b55dd1e217a49cc7</string>
</dict>
</plist>